TODO
memo/
*/**/memo
*/**/tmp
doc/build
doc/source/_*
build/
fashion.js
fashion.min.js
fashion.vml.js
fashion.vml.min.js
fashion.svg.js
fashion.svg.min.js

*/**/*.o
*/**/\#*
*/**/.\#*
*/**/~*

node_modules
